$accent-color: #FF69B4;
$main-color: #fff;

$pink: #f24364; //rgb(242,67,100)
$light-pink: #d98592; //rgb(217,133,146)
$blue: #19628d; //rgb(25,98,141)
$light-blue: #228cda; //rgb(34,140,218)
$accent-orange: #d86337; //rgb(216,99,55)
$error-red: #cc0000;

$large: 2rem;
$medium: 1.2rem;
$small: 0.7rem;